@import "tailwindcss";

@theme inline {
  --font-sans: "Instrument Sans", sans-serif;
  --font-serif: "Instrument Sans", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

/* Remove all border-radius across entire application */
*, *::before, *::after {
  border-radius: 0px !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
